$grey: #DADADA;
$darkgrey: #797979;

.advertising {
  padding: 45px 56px 0 33px;

  border-top: 1px solid $grey;
  border-left: 1px solid $grey;
  border-radius: 40px 0px 0px 0px;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__info {
    display: flex;
  }

  &__icon {
    margin-right: 20px;
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: $darkgrey;
  }

  &__btn {
    background-color: inherit;
    border: none;
  }
}