.ComingSoon {
  box-sizing: border-box;

  width: 690px;
  padding: 80px 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}